@tailwind base;
@tailwind components;
@tailwind utilities;
/*? sötét és világos táma közötti gomb kinézetét */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.container span,
.container label {
  cursor: pointer;
}


input[type = "checkbox"] {
    visibility: hidden;
    display: none;
    appearance: none;
    -webkit-appearance: none;
  }
  
  label.container {
    display: block;
    width: 60px;
    height: 30px;
    background: #d3d3d3;
    border-radius: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    box-shadow: 9px 9px 29px #969696,
               -9px -9px 29px #ffffff;
  }
  
  label.shadow {
    width: 50px;
    height: 20px;
    position: absolute;
    border-radius: 50px;
    left: 5px;
    top: 5px;
    box-shadow: inset 3px 3px 10px #969696,
                inset -3px -3px 5px #ffffffbd;
    cursor: pointer;
  }
  
  .container span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #0a100d;
    margin: 5px;
    border-radius: 50px;
    font-size: 20px;
    transition: all 0.3s ease-in;
    position: relative;
    left: 0;
    z-index: 1;
  }
  
  .container span::after {
    position: absolute;
    top: 6px;
    left: 4px;
    transition-delay: 5s;
  }
  
  input[type = "checkbox"]:checked ~ span {
    left: 29px;
    transition: 0.3s ease-in;
    background: #f06ee5;
    transform: rotate(220deg);
  }
#cardName
{
  background-color: #0f172a;
  color: #efefaa;
}
#cardModeData {
  background-color: #ffffff;
  color: #000000;
  }

.dark-mode #cardName
{
  background-color: #f86767;
  color: #24031c;
}
.dark-mode #cardModeData
{
  background-color: #ff9e9e;
  color: #24031c;
  }