@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: #333333;
}
#regText {
  /* Regisztrálj cim felirat */
  font-family: "arial";
  font-style: normal;
  font-size: 280%;
  line-height: 160%;
  text-align: center;
  background: linear-gradient(
    180deg,
    #000000 0.01%,
    #000346 71.02%,
    #000000 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.square {
  /* regisztrációs doboz */
  box-sizing: border-box;
  display: block;
  padding-bottom: 10%;
  padding-top: 2%;
  width: 20%;
  height: 90%;
  background: linear-gradient(0deg, #cfc2e3, #cfc2e3);
  border-radius: 15px;
}
